.button {
  background: #ff6b12;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 18px 24px;
  margin-top: 26px;
  &:disabled {
    background: #a3898c;
  }
}
