.modal {
  z-index: 500;
  width: 500px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}
