.identification {
  width: 500px;
  background: #f4f6f8;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  h1 {
    text-align: center;
  }
  img {
    display: block;
    width: 200px;
  }
}

.agreement {
  width: 320px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #4d565f;
  text-align: center;
  a {
    color: #2979ff;
    margin-left: 5px;
  }
}
