.video-identification {
  width: 500px;
  height: 500px;
  background: #f4f6f8;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  img {
    display: block;
    width: 200px;
  }
}

.verilive-results {
  width: 500px;
}

.verilive_innerWrapper {
  .verilive_video {
    width: auto;
    height: 100vh;
    right: 0;
    margin: 0 auto;
  }
  .verilive_overlayCanvas {
    margin: 0 auto;
  }
}
